body{
    background-color: #3d405b;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
div.a {
    text-align: center;
    font-size: 24px;
  }  
.pizza{
    background-color: #c1d3fe;
    border: 1px dotted;
    border-color:#fefae0;
    padding: 1em;
    margin: 1em;
}
.medium_pizza{
    background-color:#81b29a;
    flex: 1;
}
.large_pizza{
    background-color:#f2cc8f;
    flex: 1;
}
.small_pizza{
    background-color:#e07a5f;
    flex: 1;
}
.contact_us{
    background-color:#f4f1de;
    padding: 1em;
    margin: 1em;
    border-radius: 1em;
    border: 1px dotted;
    border-color: #FF6347;
    text-align: center;
    content: icon;
}
@media(min-width:960px){
    .pizzas{
        display: flex;
    }
}